@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
:root {
  --blue: #00c6cf;
  --yellow: #fcfcd4;
  --white: #EEFCFD;
}
body {
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
  scroll-snap-align: center!important;
  cursor: context-menu!important;
}
a {
  color: inherit !important;
}
/* header */
nav {
  text-transform: italic;
}
header {
  background-image: url("header-img.png");
  min-height: 105vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center !important;
  background-attachment: fixed;
  color: var(--white) !important;
  text-shadow: 1px 1px #000000;
  
}
.nav-link:hover {
  text-shadow: 2px 2px black !important;
  transition-duration: 0.5s !important;
  font-weight: bold;
}
.navbar-toggler-icon {
  color: black !important;
}
.btn-header {
  background-color: #cf0900 !important;
  color: white !important;
  
}

.btn-header:hover {
  color: black !important;
  background-color: var(--yellow) !important;
  transition-delay: 0.1s;

}

/* about me */
.about {
  /* background-color: var(--white) !important; */
  color: black;
}
.about h1 {
  font-family: "Comfortaa", cursive !important;
  font-weight: bold;
  color: var(--blue) !important;
  display: flex;
  justify-content: center !important;
  text-shadow: 0.5px 0.5px #000000;
}
.about-text {
  font-size: 1.2rem;

  font-family: 'Fredoka', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  color: black!important;
  
}
.about-bg-img{
  background-image: url("about-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.work-img {
  background-image: url("work1.png");
  min-height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sing-img {
    background-image: url("sing.JPG");
    min-height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* Contact me */
.contact{
    background-image: url("contact-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 105vh;
}

.contact h1{
    color: #263B34!important;
    text-align: center;
}
.contact-text{
    font-size: 1.2rem;
}

/* animation */
.ml7 {
  position: relative;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}



